<div>
    <div class="cover">
        @if(Searching)
        {
            <div class="ui grid">
                <div class="row">
                    <div class="ui two column centered grid">
                        <div class="column">
                            <div class="ui icon message">
                                <i class="notched circle loading icon"></i>
                                <div class="content">
                                    <div class="header">Paging Professor Oak</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            @ChildContent
        }
    </div>
</div>

@functions
{
    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private bool Searching { get; set; }
}
